%overflow {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
    position: absolute;
    right: 0;
  }

  &::-webkit-scrollbar-track {
    background: white;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: none;
    background: transparent;
    box-shadow: none;
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #c5d2ffeb;
    }
  }
}

%height {
  min-height: calc(100vh - 210px);
  max-height: calc(100vh - 210px);
  scroll-behavior: smooth;
}

.space_main_container {
  background-color: white;
  padding: 30px;
  display: flex;
}

.space_page_outer_container {
  width: 100%;
  @extend %height;
  margin-left: 40px;
  // position: sticky;
  // border-radius: 10px;
  // position: -webkit-sticky;
  // top: 30px;
}

.space_page_container {
  display: block;
  width: 100%;
  min-height: 100%;
  position: relative;
  padding: 10px 45px 40px;
  @extend %height;
  @extend %overflow;
}

.no_navbar {
  min-height: calc(100vh - 130px);
  max-height: calc(100vh - 130px);
}

// spaceHeading.tsx
.space_heading {
  width: 100%;
  padding: 20px 45px;
  background-color: white;
  z-index: 10;
  box-shadow: 0 1px 0 0 rgba(108, 113, 129, 0.76);
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  top: 0;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
