*,
*::before,
*::after {
  box-sizing: border-box;
}
@font-face {
  font-family: "Averta CY W01";
  src: url("../../fonts//Averta\ CY\ W01\ Bold.woff") format("woff"),
    url("../../fonts/Averta\ CY\ W01\ Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Averta CY W01", sans-serif;
}
body {
  color: black;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

button,
input {
  border: 0;
  padding: 0;
  background: transparent;
}

input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root {
  isolation: isolate;
}

div,
section,
nav {
  &:focus-visible {
    outline: none;
  }
}
