$font-xxsm: 10px;
$font-xsm: 12px;
$font-sm: 14px;
$font-medium: 16px;
$font-m: 18px;
$font-ms: 20px;
$font-ml: 22px;
$font-large: 24px;
$font-xl: 28px;
$font-xxl: 46px;
$font-xxxl: 64px;

$yellow-bg: #fec705;
$graph-green-dark: #22c55d;
$graph-green-light: #eefbf3;
$graph-green-medium: #ddf6e6;
$orange: #f99e7c;
$grey: #84838a;
$red: #ff6471;
$blue: #0177fb;
$mint-white:#e5e9ec;
$black:#000;
$light-black:#100c00;
$light-gray:#626069;

$card-shadow1: 10px 10px 30px 0px rgba(174, 174, 192, 0.4),
  -10px -10px 30px 0px #fff;
$card-shadow2: 2px 2px 30px 0px rgba(174, 174, 192, 0.2),
  -2px -2px 30px 0px #fff;
$card-shadow3: 5px 5px 5px rgba(0, 0, 0, 0.3);
$box-shadow4: 0px 3px 5px 0px rgba(67, 46, 134, 0.05);
