.create_space_upload_section {
  min-height: 100%;
  width: 50%;
  //   border: 1px solid;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  transition: background-color 0.2s linear;
}

.dotted {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23333' stroke-width='2' stroke-dasharray='11%2c 10' stroke-dashoffset='5' stroke-linecap='round'/%3e%3c/svg%3e");
  border-radius: 10px;
}

.dragging {
  transition: background-color 0.2s linear;
  background-color: #c5d2ffeb;
}

.uploadDocumentTop {
  margin-bottom: 10px;
}

.file_button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  & > input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
  }
}

//add users
.add_users_top {
  display: flex;
  justify-content: stretch;
  gap: 10px;
  margin-bottom: 10px;

  & > input {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 0 1px black;
    height: 40px;
    width: 100%;
    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px black;
    }
  }
}
