.button_main {
  border-radius: 10px;
  padding: 15px;
  transition: filter 0.3s linear;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &:hover {
    filter: brightness(110%);
  }

  &:active {
    filter: brightness(95%);
  }
}

.bfull {
  width: 100%;
}

.bmedium {
  padding: 10px;
  width: 110px;
}

.bwide {
  padding: 10px;
}

.button_outlined {
  box-shadow: 0 0 0 1px black;
  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.05);
  }
}
