@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
}

.full-height {
  min-height: 100vh;
}

button:disabled {
  user-select: none;
  filter: opacity(0.5);
  color: #6c7181c2;
}

br {
  display: block; /* Change the default inline behavior to block */
  content: "\00a0"; /* Add a non-breaking space content to create a visible effect (optional) */
  margin-bottom: 10px; /* Add margin at the bottom */
  line-height: 20px; /* Adjust line height as needed */
}
