@import "../styles/abstracts/mixins";

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_container {
  min-height: 100%;
  flex-direction: column;
  @extend %flex-center;
  min-height: calc(100vh - 80px);
  position: relative;
  background: url("../public//posh-bg.svg") no-repeat #6d8dffc2;
  background-size: contain;
  background-position: bottom -70px left -50px;

  @include mobileStyles {
    background-size: cover;
  }
}

.no_navbar {
  min-height: 100vh;
}

.home_spaces {
  margin: 90px;
  flex-direction: column;
  @extend %flex-center;

  > div {
    margin-bottom: 30px;
    display: flex;
    gap: 20px;

    button {
      padding: 10px 15px;
      font-size: 20px;
      border: 1px solid black;
    }
  }
}

.home_bgImage {
  position: absolute;
  bottom: 20px;
  right: 20px;
  
  @include mobileStyles {
    display: none;
  }
}

.main_page_common_container {
  padding: 20px 55px;
  background-color: white;
}
