.chatAction_container {
  padding: 10px;
  width: 250px;
  height: calc(100vh - 140px);
  max-height: calc(100vh - 140px);
  border-radius: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
}

.chatAction_recent {
  margin-top: 20px;
  margin-bottom: 10px;
}
