.space_page_chat_input {
  width: calc(100%);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 45px 20px;
  box-shadow: 0 -5px 40px 10px #f5f7ff;

  > div {
    position: relative;
    width: 100%;
  }

  & input {
    width: 100%;
    padding: 13px 20px;
    border-radius: 10px;
    box-shadow: 0 0 0 1px black;

    &:focus {
      border: none;
    }
  }

  & button {
    position: absolute;
    top: 9px;
    right: 20px;

    > div {
      position: relative;
      width: 30px;
      height: 30px;
    }

    &:not(:disabled):active {
      filter: opacity(0.3);
    }
  }
}
