.chatTabItem_item {
  display: flex;
  padding: 10px 15px;
  align-items: center;
  border-radius: 5px;

  .chatTabItem_item_icon {
    font-size: 20px;
  }

  span {
    margin-left: 15px;
    font-size: 15px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.chatActionTabs_button {
  font-size: 16px;
  padding: 10px 0;
}
